{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <h3>Используемые технологии</h3>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Python
        </li>
        <li class="list-group-item">
            Django
        </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>Сайт создан на базе высокоуровневого Python веб-фреймворка Django</p>
      </article>
    </div>
  </div>
{% endblock %} 
